## Data Preprocessing for URL dataset pulled from the Mendeley website. 

### This data will be used in a final course project in CS 549 Fall 2025, San Diego State University.

Author: Jia Gapuz

1. Import the dataset

In [ ]:
import pandas as pd
from pathlib import Path

csv_path = Path("URL dataset.csv")

# Read with fallback encoding
try:
    df = pd.read_csv(csv_path)
except UnicodeDecodeError:
    df = pd.read_csv(csv_path, encoding="latin-1")

print(f"Loaded {len(df):,} rows")
df.head()

Loaded 54,807 rows

                                                 url      Type
0  https://docs.google.com/presentation/d/e/2PACX...  Phishing
1    https://btttelecommunniccatiion.weeblysite.com/  Phishing
2                        https://kq0hgp.webwave.dev/  Phishing
3  https://brittishtele1bt-69836.getresponsesite....  Phishing
4         https://bt-internet-105056.weeblysite.com/  Phishing

2. Drop exact duplicates in the dataset, print the ratio of legitimate to malicious URLS in the dataset.

In [5]:
#log number of rows before removing duplicates
original_rows = len(df)

#drop exact duplicates
df = df.drop_duplicates()

#log current number of rows and print removed count
new_rows = len(df)
removed = original_rows - new_rows
print(f"Removed {removed} duplicate rows ({removed/original_rows:.2%} of original).")

# Count each type and compute ratio
counts = df['Type'].value_counts(dropna=False)
ratio = (counts / counts.sum()).rename('ratio')
summary = pd.concat([counts.rename('count'), ratio], axis=1)

print("\nCounts and ratios by type:")
summary

Removed 0 duplicate rows (0.00% of original).

Counts and ratios by type:

          count  ratio
Type
Phishing  54805    1.0

Since the current dataset's ratio is unaaceptable (we defined acceptable as at least 60-40), we will pull from another dataset to reach a 50-50 if possible.